main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 12px;
}

.container{
    display: flex;
    flex-direction: column;
    border: 2px gray solid;
    padding: 22px;
    border-top: 6px blue solid;
}

label{
    font-size: 2rem;

}
label,input{
    margin: 12px;
}
input{
    
    height:32px;
    border: 2px purple solid;
    border-radius: 4px;
    padding-left: 15px;
    
}
button{
    margin-top: 12px;
    padding: 10px;
    background-color: rgb(233, 15, 233);
    color: white;
    border-radius: 3px;
    font-size: 1.2rem;
}

p{
    font-size: larger;
    font-weight: bold;
}

.success{
    padding: 12px;
    color: aliceblue;
    background-color: rgb(60, 61, 60);
}

.sadimg{
    height: 170px;
    background-repeat: no-repeat;
}



footer{
    background-color: blueviolet;
    text-align: center;
}
footer > h4{
  
    font-size: 2rem;
    color: white;
    padding-top: 22px;
} 
footer > .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 21px;
}
footer > .icons> ul > {
    list-style: none;
}

footer > .icons >ul > li{
    list-style: none;
}
footer > .icons> ul > li> a>{
    list-style: none;
    text-decoration: none;

}
footer > .icons> ul > li> a> img{
    padding: 12px 12px 12px 12px;

   height: 40px;
}
